#header {
  margin-top: 120px;
  height: 327px;
  margin-bottom: 80px;
  text-align: center;
}
#foto {
  margin-bottom: 56px;
}
.title {
  font-family: var(--font-family-inconsolata);
  color: var(--gray-500);
}

h1 {
  font: var(--title-lg);
  color: var(--gray-600);
  font-weight: bold;
}

.texto-pequeno {
  font: var(--text-sm);
  color: var(--gray-400);
}

.tags {
  gap: 1rem;
  margin-top: 80px;
  margin-bottom: 90px;
}

.icone{
  animation: descer 2s ease-in-out infinite;
}

@keyframes descer {
  0% {
    transform: translateY(-5px); /* Começa acima */
  }
  50% {
    transform: translateY(5px);  /* Desce */
  }
  100% {
    transform: translateY(-5px); /* Volta para cima */
  }
}


@media only screen and (max-width: 25rem) {
  h1 {
    font: var(--title-md);
    color: var(--gray-600);
    font-weight: bold;
  }

  .texto-pequeno  {
    display: none;
  }

  .tags {
    display: none;
  }

}